.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: $default-font-size;
    padding: 1.5rem 3.9rem;
    display: inline-block;
    position: relative;
    border-radius: 10rem;
    transition: all 0.2s; /* transition property is applied on initial state of the element from which the animation is started */
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(
      -3px
    ); /* moves element outward the screen by 3px to its initial state */
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2); /* => x y blur */
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(
      -1px
    ); /* moves element outward the screen by 1px to its initial state not from the hovered state*/
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;
    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 10rem;
    color: red;
    transition: all 0.4s;
  }

  /* when btn is in hover state, the after should be */

  &--animated {
    animation: moveInBottom 1s ease-out 1s; /* the last value is the value of delay */
    animation-fill-mode: backwards;
    /* animation-fill-mode applies the style of 0% even before animation starts */
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1 px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }
  &:hover {
    background-color: $color-primary;
    color: white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}
